# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db
