{% extends 'base.html' %}
{% block content %}
<h2>Add Chat Message</h2>
<form method="POST">
    {% csrf_token %}
    <label for="thread">Select Chat Thread:</label>
    <select name="thread_id" id="thread">
        {% for thread in threads %}
            <option value="{{ thread.id }}">{{ thread.name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <textarea name="message" placeholder="Type your message here..."></textarea>
    <br><br>
    <button type="submit">Send Message</button>
</form>
{% endblock %}
