{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
<script src="{% static 'js/product_detail.js' %}" defer></script>

{% block content %}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h4> Product Details</h4>
        </div>

        <div class="card-body">
            <p><strong>Name:</strong> {{ product.name }}</p>
            <p><strong>Category:</strong> {{ product.category }}</p>
            <p><strong>Price:</strong>  {{ product.price }}</p>
            <p><strong>Stock:</strong> {{ product.stock_qty }}</p>
            <p><strong>SKU:</strong> {{ product.sku }}</p>
            <p><strong>HSN:</strong> {{ product.hsn_code }}</p>
            <p><strong>GST:</strong> {{ product.gst_rate }}%</p>
            <p><strong>Description:</strong><br>{{ product.description }}</p>
        </div>

        <div class="card-footer text-end">
            <a href="{% url 'commerce:product_list' %}" class="btn btn-secondary">
                 Back
            </a>
        </div>
    </div>
</div>

{% endblock %}
