{% extends "accounts/base.html" %}

{% block content %}

<div class="container mt-4">

    <h3 class="mb-3"> Today Summary</h3>

    <div class="card shadow-sm p-3">

        {% if summary %}
            <h5 class="text-primary">{{ summary.date }}</h5>

            <div class="row mt-3">

                <div class="col-6 mb-3">
                    <div class="card p-3 shadow-sm text-center border-success">
                        <h6>Total Sales</h6>
                        <h4 class="text-success"> {{ summary.total_sales }}</h4>
                    </div>
                </div>

                <div class="col-6 mb-3">
                    <div class="card p-3 shadow-sm text-center border-danger">
                        <h6>Total Purchase</h6>
                        <h4 class="text-danger"> {{ summary.total_purchase }}</h4>
                    </div>
                </div>

                <div class="col-6 mb-3">
                    <div class="card p-3 shadow-sm text-center border-primary">
                        <h6>Cash In</h6>
                        <h4 class="text-primary"> {{ summary.total_cash_in }}</h4>
                    </div>
                </div>

                <div class="col-6 mb-3">
                    <div class="card p-3 shadow-sm text-center border-warning">
                        <h6>Cash Out</h6>
                        <h4 class="text-warning"> {{ summary.total_cash_out }}</h4>
                    </div>
                </div>

            </div>

        {% else %}
            <p>No summary found for today.</p>
        {% endif %}
    </div>

</div>

{% endblock %}
